/* src/components/UpdatePassword.css */
.update-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.update-password-form {
    width: 400px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.success-message {
    color: green;
    margin-bottom: 10px;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

.update-password-form .MuiTextField-root {
    margin-bottom: 15px;
}

.update-password-form .MuiButton-root {
    margin-top: 10px;
}